{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex gap-3">
        <div class="d-grid gap-3 w-25">
            <div class="card">
                <h5 class="card-header">Аватар профіля</h5>
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        {% if profile.picture %}
                            <img src="{{profile.picture.url}}" class="rounded-circle" alt="" style="width: 180px; height: 180px; object-fit: cover;">
                            <input type="file" name="picture" form="account-update" class="form-control">
                        {% else %}
                            <input type="file" name="picture" form="account-update" class="form-control">
                        {% endif %}
                        <p class="card-text fs-4 mt-2">
                            {{profile.account.username}}
                        </p>
                    </div>
                </div>
            </div>
    
            <button type="submit" class="btn btn-success w-100" form="account-update">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                    </svg>
                    Зберегти зміни
                </div>
            </button>
    
            <a href="{% url 'account:profile' %}" class="btn btn-secondary w-100">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                    Віхилити зміни
                </div>
            </a>
        </div>

        <div class="card w-75" style="height: fit-content;">
            <h5 class="card-header">Ім'я</h5>
            <form action="{% url 'account:account-update' %}" method="post" enctype="multipart/form-data" class="card-body" id="account-update">
                {% csrf_token %}
                <input type="text" name="username" value="{{account.username}}" class="form-control" required>
            </form>
        </div>
    </div>


</div>
{% endblock %}