{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'courses:course-update' course.pk %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{course.name}}" placeholder="Назва курсу" class="form-control fs-2">

        <div class="d-flex gap-3 mt-3">
            <div class="d-flex flex-column w-25 gap-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Про курс</h4>
                    </div>
                    <textarea name="description" id="" class="form-control border border-0" style="resize: vertical;">{{course.description}}</textarea>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4>Колір курсу</h4>
                    </div>
                    <select class="form-control border border-0" name="color" id="color">
                        <option value="{{course.color}}" hidden>{{course.get_color_display}}</option>
                        <option value="danger">червоний</option>
                        <option value="primary">синій</option>
                        <option value="success">зелений</option>
                        <option value="info">голубий</option>
                        <option value="dark">чорний</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-outline-success w-100">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                            <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                            <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                        </svg>
                        Зберегти зміни
                    </div>
                </button>
                <a href="{% url 'courses:course-detail' course.pk %}" class="btn btn-secondary">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                        Відхилити зміни
                    </div>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}