{% extends 'base.html' %}

{% load completion %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center gap-3">
        <form action="{% url 'courses:lesson-update' lesson.pk %}" method="post" class="w-75">
            {% csrf_token %}
            <label for="title">Назва: </label>
            <input type="text" name="title" id="title" class="form-control" value="{{lesson.title}}" required>
            <hr>
            <p>
                <label for="description">Опис: </label>
                <textarea name="description" id="description" class="form-control" rows="10" required>{{lesson.description}}</textarea>
            </p>

            <button type="submit" class="btn btn-outline-success w-100">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                    </svg>
                    Зберегти зміни
                </div>
            </button>
            <a href="{% url 'courses:lesson-detail' lesson.pk %}" class="btn btn-secondary w-100 mt-2">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                    Відхилити зміни
                </div>
            </a>
        </form>
    </div>
</div>
{% endblock %}