{% extends 'base.html' %}

{% load completion %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center gap-5" style="padding-right: 10%;">
        <a href="{% url 'courses:course-detail' lesson.course.pk %}" class="btn btn-light rounded-circle mt-3 p-2" style="height: max-content;">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
        </a>
        <div style="width: 80%;">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fw-semibold mb-0">{{lesson.title}}</h2>
                <div class="dropstart">
                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'courses:lesson-update' lesson.pk %}" class="dropdown-item">
                                <div class="d-flex align-items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                    Редагувати
                                </div>
                            </a>
                        </li>
                        <li>
                            <form action="{% url 'courses:lesson-delete' lesson.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">
                                    <div class="d-flex align-items-center gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                        </svg>
                                        Видалити
                                    </div>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <span>{{lesson.created_at}}</span>
            <hr>

            <p>{{lesson.description|linebreaks}}</p>

            <div class="d-grid gap-1 mt-2">
                {% for material in lesson.materials.all %}
                    <div class="btn-group" role="group">
                        <a href="{{mateial.file.url}}" class="btn btn-dark w-100" title="{{material.name}}" download>
                            <div class="d-flex align-items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                    <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                                </svg>
                                <span class="fw-semibold">
                                    {{material.name|truncatechars:56}}
                                </span>
                            </div>
                        </a>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-warning rounded-end" data-bs-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <form action="{% url 'courses:material-delete' material.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">
                                            <div class="d-flex align-items-center gap-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                                Видалити
                                            </div>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary w-100 mt-1" data-bs-toggle="modal" data-bs-target="#materials-create">Створити матеріали</button>
            <div class="modal fade" tabindex="-1" id="materials-create" aria-labelledby="materialsLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="materialsLabel">Створити матеріали</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'courses:materials-create' lesson.pk %}" method="post" class="modal-body" id="materials-create-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="files" class="form-control" multiple>
                        </form>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" form="materials-create-form">Створити</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h4 class="text-center w-100">Завдання</h4>
            {% for task in lesson.tasks.all %}
                <ul class="list-group">
                    <button type="button" class="list-group-item {% if request.user in task.students %}text-bg-success{% else %}text-bg-primary{% endif %} list-group-action rounded" data-bs-toggle="modal" data-bs-target="#task{{task.pk}}">
                        {{task.name}}
                    </button>
                </ul>

                <div class="modal fade modal-xl" tabindex="-1" id="task{{task.pk}}">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header {% if request.user in task.students %}text-bg-success{% else %}text-bg-primary{% endif %}">
                                <h5 class="modal-title">{{task.name}}</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="opacity: 1 !important;"></button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="d-flex h-100">
                                    <div class="container w-25 border-end overflow-y-auto">
                                        <p class="mt-2">{{task.description}}</p>
                                    </div>
                                    <div class="container w-75 mt-2 overflow-y-auto"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'courses:task-delete' task.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <div class="d-flex align-items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                            </svg>
                                            Видалити
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <button type="button" class="btn btn-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#task-create">Створити завдання</button>
            <div class="modal fade" tabindex="-1" id="task-create" aria-labelledby="taskCreateLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="taskCreateLabel">Створити завдання</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <form action="{% url 'courses:task-create' lesson.pk %}" method="post" id="task-create-form" class="modal-body">
                            {% csrf_token %}

                            <p>
                                <label for="task-name">Назва: </label>
                                <input type="text" class="form-control" name="name" id="task-name" required>
                            </p>

                            <p>
                                <label for="task-description">Опис: </label>
                                <textarea class="form-control" name="description" id="task-description" rows="5"></textarea>
                            </p>
                        </form>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" form="task-create-form">Створити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}